# Ignore system files
__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/

# Ignore virtual environments
venv/
.venv/

# Ignore datasets and large files
datasets/
*.zip
*.tar.gz
*.csv

# Ignore trained models and checkpoints
*.h5
*.pt
*.pkl
*.pth

# Ignore Kaggle credentials
kaggle.json

**/.DS_Store
